* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}


.grid-container {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.color-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #a4a455;
    overflow: hidden;
    cursor: grab;
    transition: background 0.2s;
}

.color-container:hover > .color-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 100%;
    transform: translateY(0px);
}

.color-btn-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0%;
    transform: translateY(100%);
    transition: all 0.5s;
}

.color-btn {
    height: 80%;
    width: 25%;
    font-size: 1.5em;
    background: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
}

.color-text {
    width: 60%;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1.5em;
    outline: none !important;
}

.gui-container {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #6bba3a;
}

.blocked-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(10px);
    opacity: 50%;
    font-size: 2em;
}

/*Copied modal*/
.copied-modal-container {
    height: auto;
    width: auto;
    display: flex;
    position: absolute;
    z-index: 99;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    text-align: center;
    /*background: #ebcc68;*/
    box-shadow: 0px 3px 10px 3px #0007;
    transition: top 0.3s;
}

.message-type {
    padding-right: 10px;
}

/*GUI/UI*/
.random-btn {
    height: 80%;
    width: 20%;
    cursor: pointer;
    font-size: 1.5em;
    background: #659de1;
    border: none;
    outline: none !important;
    box-shadow: 0px 0px 10px #0005;
    transition: all 0.1s;
}

.random-btn:active {
    background: #558dd1;
}

.import-export-btn {
    height: 50%;
    width: 10%;
    cursor: pointer;
    font-size: 1em;
    background: #907ad3;
    border: none;
    outline: none !important;
    box-shadow: 0px 0px 10px #0005;
    transition: all 0.1s;
}

.import-export-btn:active {
    background: #806ac3;
}

/*Sortable js*/
.sortable-drag {
    cursor: grab;
}

.sortable-ghost {
    cursor: grabbing;
}

.sortable-chosen {
    cursor: grabbing;
}

.highlight {
    
    box-shadow: 0px 0px 80px 30px #69eb41 inset;
}